<div class="modal">
  
      <div class="bar bar-header bar-dark">
          <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="closeDeliverableModal()">Cancel</ion-button>
  	     <h1 class="title">Add Deliverable</h1>
	    </div>
    <ion-content class="has-header">
	<form name="deliForm" ng-init="setFormScope(this)" novalidate>
      	<ion-item class="item item-input item-stacked-label" 
                  ng-class="{ 'has-error' : deliForm.DELI_NAME.$invalid && !deliForm.DELI_NAME.$pristine }">
        	<span class="input-label">
            Deliverable Name*
          </span>
          	<input type="text" 
                   name="DELI_NAME" 
                   ng-model="deliverable.DELI_NAME" 
                   placeholder="First Assignment" 
                   required>
              	<p ng-show="deliForm.DELI_NAME.$invalid && !deliForm.DELI_NAME.$pristine" 
                   class="help-block">
                    Name is required.
                </p>
      	</ion-item>
        <ion-item class="item item-input item-stacked-label" 
                  ng-class="{ 'has-error' : deliForm.DELI_TYPE_ID.$invalid && !deliForm.DELI_TYPE_ID.$pristine }">
          <span class="input-label">
            Type*
          </span>
            <select class="input-block-level"
                    name="DELI_TYPE_ID" 
                    ng-model="deliverable.DELI_TYPE_ID" 
                    ng-options="obj.DELI_TYPE_ID as obj.NAME for obj in rubrics">    
                <option value="">Other</option>
            </select>
              <p ng-show="deliForm.DELI_TYPE_ID.$invalid && !deliForm.DELI_TYPE_ID.$pristine" 
                 class="help-block">
                 Type cannot be default.
              </p>
        </ion-item> 
     	  <ion-item class="item item-input item-stacked-label" 
                  ng-class="{ 'has-error' : deliForm.TOTAL.$invalid && !deliForm.TOTAL.$pristine }">
        	<span class="input-label">
            Total
          </span>
          	<input type="number" 
                   name="TOTAL" 
                   ng-model="deliverable.TOTAL" 
                   placeholder="Total points" 
                   required>
            	<p ng-show="deliForm.TOTAL.$invalid && !deliForm.TOTAL.$pristine" 
                 class="help-block">
                 Total is required.
              </p>
      	</ion-item> 
        <ion-item class="item item-input item-stacked-label" 
                  ng-class="{ 'has-error' : deliForm.SCORE.$invalid && !deliForm.SCORE.$pristine }">
          <span class="input-label">
            Score
          </span>
            <input type="number" 
                   name="SCORE" 
                   ng-model="deliverable.SCORE" 
                   placeholder="Points gained" 
                   required>
              <p ng-show="deliForm.SCORE.$invalid && !deliForm.SCORE.$pristine" 
                 class="help-block">
                 Score is required.
              </p>
        </ion-item> 

      <!-- <button type="submit" class="button button-block button-energized ion-checkmark" ng-disabled="deliForm.$invalid">Add</button> -->
        <button ng-show="actionDel == 'add'"  
                class="button button-block button-positive" 
                ng-disabled="deliForm.$invalid" 
                ng-click="addDeliverable()">
                Add
        </button>

        <button ng-show="actionDel == 'change'" 
                class="button button-block button-positive" 
                ng-disabled="deliForm.$invalid" 
                ng-click="editItem(form)">
                Edit
        </button>
    </form>
  </ion-content>
</div>